### Table of Contents
<a class="anchor" id="index"></a>

* [Data Types](#chapter1)
    * [integer](#Section_1_1)
    * [string](#Section_1_2)
    * [float](#Section_1_3)
    * [boolean](#Section_1_4)
    * [Null](#Section_1_5)
    * [conversion of data types into one-another](#Section_1_6)
* [Data Structure](#chapter2)
    * [list](#Section_2_1)
    * [range](#Section_2_2)
    * [dictionary](#Section_2_3)
    * [tuple](#Section_2_4)
    * [Array](#Section_2_5)
    * [Series](#Section_2_6)
    * [DataFrame](#Section_2_7)

## Data Types

<a class="anchor" id="Section_1_1"></a>

### Integer

In [ ]:
x1 = 5

In [ ]:
type(x1)

In [ ]:
x1 = 100000000000000000000000000000000000000000000000000000000000000000000000000000000000
x1

In [ ]:
type(x1)

In [ ]:
type(-6)

In [ ]:
1/5

In [ ]:
type(1/5)

__Python Integers:__ These integers can store any any number of any size. <br>

We will study in numpy that NumPy supports a much greater variety of numerical types than Python does. Infact it has a high range of fixed value integer types such as int8, int32, int64. Numpy integers have a max limit on size of integer.

In [ ]:
import numpy as np

In [ ]:
a = 100000000000000000

In [ ]:
type(a) # a is a native integer python type

In [ ]:
a = 10000
b = np.int32(10000)
type(b)

In [ ]:
np.int32(a) # overflow errors

In [ ]:
#a = np.int32(a) it has crossed its limit. Integer (-2147483648 to 2147483647)
#numbers in their name indicate the bitsize of the type (i.e. how many bits are needed to represent a single value in memory

In [ ]:
np.int32(2147483647)

In [ ]:
np.int32(2147483648)

In [ ]:
np.int64(a) #limit Integer (-9223372036854775808 to 9223372036854775807)

In [ ]:
a = 1000000000000

In [ ]:
b = np.int64(a)
type(b)

In [ ]:
b.max()

In [ ]:
b.min()

In [ ]:
type(int(b))

In [ ]:
np.uint32(3147483647)

In [ ]:
np.uint32() #limit Integer (0 to 4294967295 which twice of 2147483647)
#Unsigned integer (0 to 4294967295)

In [ ]:
np.uint32(32)

In [ ]:
np.uint32(-32) #[4294967296-32]
#There is no difference between the two in how they are stored in memory and registers,
#The main difference between them is that the integer range you can get from the signed integer would be -127 to 127,
# while the integer range you can get from the unsigned integer would be 0 to 255.

In [ ]:
a = np.int32(-100)

In [ ]:
a

In [ ]:
np.uint32(-100)

advanatge of using fixed size integer even though they have memory limit

1. modern processors have built-in tools for doing math on fixed-size integers, so calculations on those are much, much, much faster

2. They can be placed into consistently-sized adjacent memory blocks of the same type.This is the format that numpy arrays use to store data. With the variable-sized python integers, this sort of computation is impossible because there is no consistentcy in the data stored format.

3. Rather than arrays containing the values, instead they are arrays containing references to other pieces of memory holding the actual python integers.

<a class="anchor" id="Section_1_3"></a>
[index](#index)
### float

In [ ]:
x2 = 4.75

In [ ]:
type(x2)

In [ ]:
int(x2)

In [ ]:
float(5)

In [ ]:
a = 3
b = 1.5

In [ ]:
a*b # int*float

In [ ]:
a+b # int+float

In [ ]:
a/b # int/float

In [ ]:
b/b # float/float

In [ ]:
a = 58682.75781256677 # 16 digit number 5 + 11
print(a)
type(a)

In [ ]:
a = 58682.757812566771234234234243242423423424234234234234242342423342423234234277 # way more than 20
print(a)
type(a)

In [ ]:
print(np.float32(a)) # 5+3 = 8
type(np.float32(a))

In [ ]:
b =1.343423424234234  # 1+7 = 8
print(np.float32(b))
type(np.float32(b))

In [ ]:
print(np.float64(a))
#Python's floating-point numbers are usually 64-bit floating-point numbers, nearly equivalent to np. float64
type(np.float64(a))
# total digits are 5 +11 = 16

In [ ]:
print(np.float16(a))
#Python's floating-point numbers are usually 64-bit floating-point numbers, nearly equivalent to np. float64
type(np.float16(a))
# total digits are 6

float32 is a 32 bit number - float64 uses 64 bits. That means that float64's take up twice as much memory - and doing operations on them may be a lot slower in some machine architectures. 
However, float64's can represent numbers much more accurately than 32 bit floats. They also allow much larger numbers to be stored.

In [ ]:
a = 5544258682.757812566772323
print(np.float64(a))
type(np.float64(a))
# total digits are 10 +7 = 17 ; total digits post decimals have been reduced to accomodate memory

In [ ]:
a = 5544258682.757812566772323
a
#Python's floating-point numbers are usually 64-bit floating-point numbers, nearly equivalent to np. float64

In [ ]:
a = 2.757812566772323 #16 digit
print(np.float64(a)) # now it will contain all the digits post decimal

<a class="anchor" id="Section_1_4"></a>
[index](#index)
### Boolean

In [ ]:
1 == 2

In [ ]:
[1,1,1] == [1,1,1]

In [ ]:
[1,1,1] == [1,1,2]

In [ ]:
[2,2,2] > [10,3000,10000] 
# Avoid using; not very meaningful; if you want to compare two lists, 
# better write a for loop and compare element by element

In [ ]:
a = True
print(type(a) )

In [ ]:
b = False
print(type(b))

__Some Rules__

1. Almost any value is evaluated to True if it has some sort of content.
2. Any string is True, except empty strings.
3. Any number is True, except 0.
4. Any list, tuple, set, and dictionary are True, except empty ones.
5. None type are False

In [ ]:
print(bool(True))
print(bool(1))
print(bool(0))

In [ ]:
print(bool("machinelearning"))
print(bool((2)))
print(bool([1,2]))
print(bool({3}))

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))

In [ ]:
print(bool(""))

In [ ]:
print(bool(()))
print(bool([]))
print(bool({}))

use of bool in if else condition

In [ ]:
result_previous = "non empty"
if result_previous:
    print('non zero')
else:
    print('zero')

<a class="anchor" id="Section_1_5"></a>
[index](#index)
### Null Type

There is __None__ object defined in python<br>

In [ ]:
print(None)

In [ ]:
a = None
a
type(a)

you will face many a times errors which will be caused by None values in real world data

In [ ]:
3*a

In [ ]:
int(a)

NaN

1. There is another type of null object in python which is NaN (Not a Number).if a csv file is read by pandas then any missing value will be NaN <br>
2. NaN can be used as a numerical value on mathematical operations, while None cannot (or at least shouldn't). <br>
3. Despite the data type difference of NaN and None, Pandas treat numpy.nan and None similarly
4. But sometimes There are strings present in csv file such as 'NULL', which should not be considered as NaN. We can set some
   arguments in pd.read_csv() to ignore these considerations. Check for columns 'students','agent','company'. 'company' column    contains a blank value and 'NULL' values.

In [ ]:
import pandas as pd
pd.set_option('max_columns',100)
hotel  = pd.read_csv('hotel_bookings.csv')

In [ ]:
hotel_null = hotel.loc[40600:40603,['children','agent','company']]
hotel_null.head()

In [ ]:
hotel_null['company'].isnull().sum()

In [ ]:
?pd.read_csv

In [ ]:
hotel_null['children'].isnull().sum()

In [ ]:
sample = hotel_null['company'][40600]
print(type(sample))
sample

In [ ]:
import pandas as pd
pd.set_option('max_columns',100)
hotel  = pd.read_csv('hotel_bookings.csv',keep_default_na = False, na_values = [''])

In [ ]:
hotel_null = hotel.loc[40600:40603,['children','agent','company']]
hotel_null.head() # children column contain 'NA' string value

In [ ]:
hotel_null['company'].isnull().sum()

In [ ]:
hotel_null['children'].isnull().sum()

In [ ]:
# we can define a new nan value using numpy function
import numpy as np
b = np.nan
b

In [ ]:
#Two things are "not a number", so they can be anything but most probably not the same. Above all there is no way of ordering NaNs
a = np.nan
b = np.nan
a==b

In [ ]:
a>b

### String Type
<a class="anchor" id="section_1_2"></a>

1. Delimited by single or double quotes - e.g."Hello" and 'How are you' are valid strings in Python

2. These are immutable

In [ ]:
"Hello"

In [ ]:
'Hello'

In [ ]:
a = "Hello"
print(len(a))
type(a)

In [ ]:
'Hello Hello'

In [ ]:
len('Hello Hello')

In [ ]:
y = 'Hello'
y

In [ ]:
s = "Hi, it's nice to meet you"
s

You can include double quotation marks in your string by enclosing the string in single quotes and vice versa

In [ ]:
s = 'Hi, it's nice to meet you'
s

In [ ]:
s = 'He said "Hello"'
s

In [ ]:
s = "She said 'Bye'"
s

##### Strings are immutable

In [ ]:
s

In [ ]:
s[1] = 'f'

In [ ]:
s = s + 'not hi ' # though we can reassign variable
s

__concatenation__

In [ ]:
y + 'company'

In [ ]:
y + ' company'

In [ ]:
y+2

In [ ]:
y+'2'

In [ ]:
y + str(2)

In [ ]:
y+y+y+y

In [ ]:
y * 7 # shortcut for writing y + y + y + y + ...etc.

###### Bool in string

In [ ]:
"e" in "Hello"

In [ ]:
'e' in y

In [ ]:
"x" in "Hello"

In [ ]:
"el" in y

#### case sensitive

In [ ]:
"h" in y

In [ ]:
"H" in y

In [ ]:
len(y)

In [ ]:
y = 'Hello'

In [ ]:
y.startswith("He")

In [ ]:
y.startswith("he")

In [ ]:
y.endswith("lo")

In [ ]:
y.lower().startswith("he")

__selection of subset from string__ 
1. String can be considered as sequence. Numbering starts with 0 in Python

In [ ]:
y[0]

In [ ]:
y[1]

2. Negative sequence denotes counting from last element. Negative index numbers specify starting from the end and moving backwards (in other words, right to left) in Python

In [ ]:
y[-1] #-1 denotes

3. __Slicing__: We can select more than 1 element from any sequence. When taking a "slice" using the ":", in Python the endpoint is NOT included in the result

In [ ]:
y[0:2] # 0 to 1. exclude 2

In [ ]:
y[1:3]

In [ ]:
y[1:-1]

In [ ]:
y[:] # useless!!

In [ ]:
y

In [ ]:
y[7]

###### check indexes of string set

In [ ]:
print(y.index('He')) # will show first appearance
print(y.index('llo'))

In [ ]:
print(y.index('xyz'))

In [ ]:
y =  "HeHenonoHe"
y.index("He")

In [ ]:
y.index("no")

In [ ]:
###### string transformation

In [ ]:
print(y.lower())
print(y.upper())

In [ ]:
###### find if string is digit

In [ ]:
print(y.isdigit())
a = '123'
print(a.isdigit())

In [ ]:
###### replacement

In [ ]:
y1 = "Hello, name"
y1.replace("name","company")

In [ ]:
y1

In [ ]:
"a a b f d a d".replace("a","z")

__Remove leading and trailing characters__

In [ ]:
y1 = "Hi \n"
print(y1)

In [ ]:
len(y1)

In [ ]:
len(y1)

In [ ]:
y1.strip() ## remove leading AND trailing spaces

In [ ]:
len(y1.strip())

In [ ]:
y1 = "   Hi  "
y1

In [ ]:
y1.lstrip() # remove only leading spaces

In [ ]:
y1.rstrip() # remove only trailing spaces

In [ ]:
w = "www.example.com"
w

In [ ]:
w.lstrip("w.") # trim string from left side

In [ ]:
w.rstrip(".com")

__split__

In [ ]:
s = "a b c d e"
s

In [ ]:
new = s.split()
print(new)
type(new)

In [ ]:
s = "a,b,c,d,e"
s.split()

In [ ]:
s.split(",")

__Append and Formatting strings__ <br>

%s denotes to string <br>
%d denotes to integer <br>
%f denotes to float

In [ ]:
company_name = 'company'

In [ ]:
s = "Welcome to %s" % company_name
s

In [ ]:
s = "Welcome to %s in %s" %(company_name,"Bangalore")
s

In [ ]:
s = "Welcome to %d in %s" %(company_name,"Bangalore")
s

In [ ]:
day = 7
"Welcome to training day %d" % day

In [ ]:
temp = 27.6
"The temperature now is %f" % temp

In [ ]:
"The temperature now is %.2f" % temp

In [ ]:
"The temperature now is %.4f" % temp

In [ ]:
temp = 27.6
"The temperature now is %d" % temp #it will conver 27.6 into integer

In [ ]:
##### Sorting
#We can use sorted function but it returns a list

In [ ]:
y

In [ ]:
sorted(y)

<a class="anchor" id="Section_1_6"></a>
[index](#index)
## Conversion of data type into one another

__Type Conversion__

1. Implicit Type Conversion: Python automatically converts one data type to another data type

In [ ]:
int1 = 123
flo1 = 1.23

type(int1 + flo1)

In [ ]:
print(int1*flo1)
type(int1*flo1)

2. Explicit Type Conversion: users convert the data type of an object to required data type

In [ ]:
int1 = 123
str1 = "123"

type(int1 + str1)

In [ ]:
int1 = 123
str1 = "123"
print(int1 + int(str1))
type(int1 + int(str1))

In [ ]:
int1 = 123
str1 = "123"
print(str(int1) + str1)
type(str(int1) + str1)

In [ ]:
# i can convert string to integer or float only if all elements of string are int or float

***
***
***

<a class="anchor" id="Section_2_1"></a>
[index](#index)
# Data Structure


## List

1. Lists are mutable sequences type data structure
2. Lists can hold mixed data types, but this is not recommended

__Check Basic Properties__

In [ ]:
cities = ['Mumbai','Delhi','Bangalore','Hyderabad','Chennai','Ahmedabad','Kolkata','Surat','Pune','Jaipur']
cities

In [ ]:
type(cities)

In [ ]:
len(cities)

In [ ]:
type(cities[1])

__selection of subset from list__ 
1. list can be considered as sequence. Numbering starts with 0 in Python

In [ ]:
cities[1]

In [ ]:
cities[0:4]

In [ ]:
cities[:4]

In [ ]:
cities[-1] # last element

In [ ]:
cities[-2] # second last element

In [ ]:
cities.index('Jaipur') # check index of individual elements of list and return index of first occurance

In [ ]:
list1 = ['a','a','b','c']
list1.index('a')

__Mutation__ 
1. Replace
2. Delete

In [ ]:
cities[3]='Indore'
cities

In [ ]:
del cities[2]
cities

In [ ]:
cities.pop() # remove the last element , do not need to assign results back into list. it will automatically replace list

In [ ]:
cities

#### add element to the end of the list
We do not need to use assignment (=) when we append/remove any element in a list
1. To add a single element in list we need to use .append
2. To add multiple elements in list we need to use extend

In [ ]:
cities.append('Kanpur') # add element to the end of the list
cities

In [ ]:
cities.append('Nagpur','Indore','Visakhapatnam')
cities

In [ ]:
cities.append(['Nagpur','Indore','Visakhapatnam']) # this will consider this whole list as a single element
cities

In [ ]:
cities

In [ ]:
cities.extend(['Nagpur','Indore','Visakhapatnam']) #extend() takes exactly one argument as a list . This argument might contain multiple values
cities

In [ ]:
cities.extend('asd','asdfds','gfdgasf')

##### to add an element at a particular index

In [ ]:
cities.insert(4,"Test_city") 
cities

In [ ]:
cities.remove("Test_city") # Note: only removes first occurrence
cities

In [ ]:
cities.remove("Chicago")

In [ ]:
list2 = ['a',1,1,4,'b','a']
list2.remove('a')
list2

##### Concatenate two lists

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
#join two lists are by appending all the items from list2 into list1, one by one. Otherwise append function considers another 'list' as an element 
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

###### Boolean Operations in List

In [ ]:
"Madras" in cities

In [ ]:
"Chennai" in cities

In [ ]:
"med" in cities

In [ ]:
"med" in cities[4]

###### iterations in list

In [ ]:
random_list = ['Hello','India',23,4.6]
print(random_list)
len(random_list)

In [ ]:
for temp_city in cities: # we will study loops and iterations in upcoming sessions
        print(temp_city)
print("This is the end of the list of cities")

__constructing a list from empty list__

In [ ]:
num = [1,2,3,4]
list1 = []
for element in num:
#    list1[num.index(element)] = element # this will cause error because list1 has zero element now, we can instead use append
    list1.append(element)
list1

In [ ]:
cities = ['Mumbai','Delhi','Bangalore','Hyderabad','Chennai','Ahmedabad','Kolkata','Surat','Pune','Jaipur']
cities

In [ ]:
for temp_city in cities:
    phrase = 'Welcome to ' + temp_city
    if "pur" in temp_city: # " 'pur' in cities " it will check if any element of cities =pur
        print(phrase + ', which is a city containing "pur"')
    elif "bad" in temp_city:
        print(phrase + ', which is a "bad" city!')
    else:
        print(phrase)

###### Compare two lists

In [ ]:
[200,2,2] > [10,3000,10000] 
# Avoid using; not very meaningful; if you want to compare two lists, 
# better write a for loop and compare element by element

In [ ]:
for i in range(3):
       print([200,2,2][i]>[10,3000,10000][i])

In [ ]:
for city in cities:
    if city == 'Mumbai':
        print(city,' is in Maharashtra')
    elif city == 'Chennai':
        print(city,' is in Tamilnadu')
    else:
        print(city,' is in some other state')

In [ ]:
west_list = ['Mumbai','Ahmedabad','Pune']
south_list = ['Bangalore','Hyderabad','Chennai']
north_list = ['Delhi','Surat','Jaipur','Kanpur']

for city in cities:
    if city in west_list:
        print(city,' : West zone')
    elif city in south_list:
        print(city,' :South zone')
    elif city in north_list:
        print(city,' : North zone')
    else:
        print(city,' : East zone')

In [ ]:
for temp_city in cities:
    if temp_city == 'Mumbai':
        print('Hot')
    elif temp_city == 'Delhi':
        print('Cold')
    else:
        print('Medium')

###### Sort

In [ ]:
a = [5,2,7,4]

In [ ]:
a.sort()
a

In [ ]:
a.sort(reverse = True)
a

In [ ]:
a = [2,5,2,5,5,7,4]

In [ ]:
a.sort()
a

In [ ]:
a = ['a','b','d','c']
a.sort()
a

In [ ]:
a = ['a','b',1,'c']
a.sort()
a

###### Count

In [ ]:
a.count(5)

In [ ]:
5 in a

<a class="anchor" id="Section_2_2"></a>
[index](#index)

## Range

1. The range type represents an __immutable__ sequence of numbers 
2. Commonly used for looping a specific number of times in for loops.
3. Range has two types of structure
     * range(start element, end element, steps)
     * range(end_element) # This will start by default from zero with step 1
4. end element is not included in range sequence

###### Basic Introduction

In [ ]:
range1 = range(10)

In [ ]:
print(range1)

In [ ]:
type(range1)

In [ ]:
len(range1)

In [ ]:
range1[5]

In [ ]:
range(2,10)

In [ ]:
range(2,10,2)

In [ ]:
len(range(2,10,2))

In [ ]:
range1[10] # integer value used for stop is not included in list.

In [ ]:
print(range1[3])

In [ ]:
for i in range1:
    print(i)

In [ ]:
for i in range(50,100,12):
    print(i)

In [ ]:
for n in range(0,10): # if I use range(10) then it will throw an error because 0 can't be used in denominator
    print('The inverse of ',n,' is ',1/n)

In [ ]:
for n in range(1,10): 
    print('The inverse of ',n,' is ',1/n)

In [ ]:
for n in range(10):
    if n == 0:
        print('The inverse of 0 is not defined')
    else:
        print('The inverse of ',n,' is ',1/n)

###### Negative end number

In [ ]:
range2 = range(-10)  # -10 is the end element, start will be 0 ,step =1 , so no values will generated

In [ ]:
len(range2)

In [ ]:
range2 = range(-1,-10)  # -10 is the end element, start will be 0 ,step =1 , so no values will generated

In [ ]:
len(range2)

In [ ]:
range2 = range(-10,-1)  # -1 is the end element, start will be 0 ,step =1

In [ ]:
len(range2)

<a class="anchor" id="Section_2_4"></a>
[index](#index)

## Tuples 

1. The tuple type represents an __immutable sequence__ of numbers (elements can be __heterogeneous__) 
2. It is used where we do not need to change values and since we do not change values it increases speed of iterations
3. We can search any element in a tuple.
4. Tuples are faster than lists, because they have a constant set of values.
5. tuple can be sorted using sorting function.

In [ ]:
t = (1,2,3,4,98,5,4,6,98,98)
t

In [ ]:
len(t)

In [ ]:
type(t)

In [ ]:
t = ('a',1,2)

In [ ]:
type(t)

In [ ]:
print(t)

In [ ]:
print(type(t[0]))
print(type(t[1]))

In [ ]:
t.append(4) #tuple is immutable

In [ ]:
t[1] # since this is a sequence, I can find values based upon index

In [ ]:
t[1]=2 # immutable

In [ ]:
t.count(4)

In [ ]:
t.count(98) # it will count how many times 98 has appeared

In [ ]:
t.index(98) # tuple has only count and index as property. index will show index of first occurance

###### sort tuple

In [ ]:
t = (1,2,3,4,98,5,4,6,98,98)
t

In [ ]:
t.sort()

In [ ]:
sorted(t)

###### Bool in tuple

In [ ]:
98 in t

In [ ]:
100 in t

### Now note:

[] is used to specify the index of a string or list or other object

[] is also used to define a list

() is used to pass arguments (or parameters) to a function or method

() is also used to define a tuple

{} is used to defined set

[index](#index)

## set

1. A set object is an __unordered__ collection of distinct hashable __unique__ objects.It does __not__ contain __sequence__ and we can not extract values based upon index
2. it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.
3.  It is __mutable__ and can contain hetergenous objects

In [ ]:
s1 = {4,23,76,1}

In [ ]:
s1 # It is not necessary that it will also ascend or descend values

In [ ]:
type(s1)

In [ ]:
s1[0] # since it is unordered, there is no meaning of indexing in sets

In [ ]:
len(s1)

In [ ]:
s2= {25,14,98,63,75,98} # it has collection of unique objects
s2

In [ ]:
len(s2)

In [ ]:
s2.add(10)

In [ ]:
s2

#### limitation : a set cannot have mutable elements like lists, sets or dictionaries as its elements.

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

In [ ]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

In [ ]:
my_set = {1, 2, [3, 4]}

##### adding elements

In [ ]:
myset = {1,2}
print(myset)
myset.add(3)
print(myset)

In [ ]:
myset.add([3,4]) # there is another method by which can add elements of lists in sets
print(myset)

In [ ]:
myset.update([4,5]) # but this will not be added as list
print(myset)

##### Empty curly braces {} will make an empty dictionary in Python.

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

In [ ]:
# initialize a with set()
a = set()

# check data type of a
print(type(a))

In [ ]:
len(a)

In [ ]:
type(a)

##### Remove an element from set

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

In [ ]:

# remove an element
my_set.remove(3)
print(my_set)

In [ ]:
# remove an element
my_set.remove(6)
print(my_set)

In [ ]:
# discard an element not present in my_set still it will not throw an error
my_set.discard(2)
print(my_set)

In [ ]:
# discard an element not present in my_set and it will throw an error
my_set.remove(2)
print(my_set)

<a class="anchor" id="Section_2_3"></a>
[index](#index)

## Dictionaries  

1. The Dictionaries type represents a mapping objects which An __unordered__ collection of key-value pairs
2. Dictionaries are __mutable__ objects but a key-value pair is formed by tuple, it will not be mutable
3. We can search any key in a Dictionary.
4. A key value pair can have __heterogeneous__ data types and data types of heterogeneous elements will be preserved in a key-value pair

##### Basic orpoerty check

In [ ]:
my_dict = {'Mumbai':[28,40],'Bangalore':22,'Delhi':31,'Kolkata':27,'Hyderabad':32} # note the {}

In [ ]:
type(my_dict)

In [ ]:
my_dict

In [ ]:
len(my_dict) # key value pairs

In [ ]:
my_dict['Delhi'] # looking for value mapped against key 'Delhi'

##### Boolean in Dict

In [ ]:
'Mumbai' in my_dict

In [ ]:
28 in my_dict # only Keys will be searchable

In [ ]:
'mumbai' in my_dict # keys are case sensitive

##### Mutation , addition/deletion of key-value pair

In [ ]:
my_dict['Delhi'] = 100 #Dictionaries are mutable objects

In [ ]:
my_dict['Delhi']

In [ ]:
my_dict['Chennai'] # there is no key as 'chennai'

In [ ]:
my_dict['Chennai'] = 30 # though I can add a new key-value pair
len(my_dict)

In [ ]:
my_dict

In [ ]:
del my_dict['Hyderabad']
my_dict

In [ ]:
d_2015 = {'x':10,'y':20}
d_2016 = {'x':100,'z':30,'a':33,'b':66}

In [ ]:
d_2016.update(d_2015)

In [ ]:
d_2016

In [ ]:
d_2015.update(d_2016) # we have already updated d_2016
d_2015

##### we can add multiple values against a single key through list, range,tuples,sets

In [ ]:
my_dict2 = {'Gender':['M','F','M'], 'income':range(100000,200000,30000),'age':[33,44,18],'BMI':(14.5,16.2,18.2),
           'Education':('12th','10th',2),'Region':{1,2,3}} # heterogeneous data type

In [ ]:
my_dict2

In [ ]:
my_dict2['Gender']

In [ ]:
my_dict2['Gender'][1]

In [ ]:
my_dict2['Gender'][3]

In [ ]:
my_dict2['Gender'][3] = 'new Gender' # to assign new element to a key-value pair we need to use append

In [ ]:
my_dict2['Gender'].append('new Gender')

In [ ]:
my_dict2['Gender'][3]

In [ ]:
my_dict2

In [ ]:
my_dict2['Gender'].append(4)

In [ ]:
my_dict2['Gender']

In [ ]:
my_dict2 # any key-value pair can have different number of values

In [ ]:
print(type(my_dict2['Gender'][1]))
type(my_dict2['Gender'][4]) # data types of heterogeneous elements will be preserved in a key-value pair

In [ ]:
print(type(my_dict2['Education']))
my_dict2['Education']

In [ ]:
my_dict2['Education'][1]

In [ ]:
my_dict2['Education'].append('12') # this key-value pair is tuple and hence immutable

##### 1 Key-value pair can have different length of values then another key-value pairs

In [ ]:
my_dict2 = {'Gender':['M','F','M','F'], 'income':range(100000,200000,40000),'age':[33,44,18],'BMI':(14.5,16.2,18.2,14),
           'Education':('12th','10th','12th'),'Region':{1,2,3}}

In [ ]:
my_dict2

In [ ]:
len(my_dict2)

In [ ]:
len(my_dict2['Gender'])

In [ ]:
len(my_dict2['income'])

In [ ]:
for i in range(len(my_dict2['income'])):
        print(my_dict2['income'][i])

##### Python dictionaries map a key to a value. Duplicate keys are not allowed, and new entries replace old ones with the same key.

In [ ]:
my_dict2 = {'Gender':['M','F','M','F'],'Gender':['M1','F1','M1','F1'] } # last element with duplicate key will replace first key value pair

In [ ]:
my_dict2

In [ ]:
my_dict2 = {'Gender':['M1','F1','M1','F1'] ,'Gender':['M','F','M','F']}
my_dict2

In [ ]:
my_dict2['Region'] = ['A','B','C','D']
my_dict2

##### Nonetype in a dictionary

All the None Type operations will be corresponding to key-value pair in which None is present

In [ ]:
my_dict3 = {'Gender':['M',None,'M'],'Edu':['A','B','C'] }
my_dict3

In [ ]:
type(my_dict3['Gender'])

In [ ]:
type(my_dict3['Gender'][1])

In [ ]:
import numpy as np

In [ ]:
np.nan

In [ ]:
type(np.nan)

In [ ]:
my_dict3 = {'Gender':['M',np.nan,'M'],'Edu':['A','B','C'] }
my_dict3

<a class="anchor" id="Section_2_5"></a>
[index](#index)

### Array

1. An object type which can efficiently represent an array of basic values: characters, integers, floating point numbers.
2. It is different than list objects stored in the array are of a __homogeneous(same)__ type.
3. It is Computationally-memory efficient and Faster calculations and analysis than lists.
4. Numpy module in python is generally used for matrix and array computations.
5. Numpy array is a powerful N-dimensional array object which is in the form of rows and columns. We can initialize NumPy arrays from nested Python lists and access it elements.
6. We can perform __indexing__ (accessing elements)

###### basic property check

In [ ]:
import numpy as np
a=np.array([1,2,3])
print(a)
print(type(a))
print(len(a))

In [ ]:
a

In [ ]:
a[2] = 4

In [ ]:
np.append(a,3)

In [ ]:
a

In [ ]:
print(a.dtype)
a.shape # one directional array

In [ ]:
#Multi-dimensional Array:
a=np.array([(1,2,3),(4,5,6)])
print(a)
type(a)

In [ ]:
a.shape

In [ ]:
print('dimension of  of multidimenisonal array', a.shape)
print('size of array is',a.size)
a.dtype #the data type of the elements that are stored in an array

In [ ]:
a=np.array([[1,2,3],['ankit',5,6]])
a.dtype # it will change the dtype of every element and will make it homogeneous
a # <U11 is a type of string which can hold 11 elements
#mathematical operations are not possible on this string type

In [ ]:
a[1]

In [ ]:
a.max()

In [ ]:
a=np.array([[1,2,3],[1.2,5,6]])
a.dtype 
a

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.sum()

###### selecting elements from arrays

In [ ]:
a=np.array([(1,2,3,4),(3,4,5,6)])
print('firts output',a[0,2])
print('second output',a[0:,2])

In [ ]:
a.max()

###### multiple mathematical operations can be applied available in numpy package
1. max/min/sum for unidirectional as well as bidirectional array 
2. squareroot/standard deviation

In [ ]:
#linspace 
a=np.linspace(1,50,15) # returns 15 elements
print(a)

In [ ]:

#max/ min
a= np.array([10,50,3])
print(a.min())
print(a.max())
print(a.sum())

In [ ]:
# axis wise operations
a= np.array([(1,2,3),(3,4,5)])
#print(a.sum(axis=0)) # axis = 0 tells us row wise operation
print(a.sum(axis=1)) # axis = 0 tells us row wise operation

In [ ]:
#Square Root & Standard Deviation
a=np.array([(1,2,3),(3,4,5,)])
print(np.sqrt(a))
print(np.std(a))

###### operations on multiple arrays

Both of arrays must have same dimensions

In [ ]:
#Addition Operation
x= np.array([(1,2,3),(3,4,5)])
y= np.array([(1,2,3),(3,4,5)])

In [ ]:
print(x+y) #(0,0  + 0,0 like others)
#print(x-y)
#print(x*y)
#print(x/y)

In [ ]:
#Addition Operation
x= np.array([(1,2,3),(3,4)])
y= np.array([(1,2,3),(3,4,5)])
print(x+y) # this will throw an error because size is not same of both arrays

In [ ]:
#ravel :  convert one numpy array into a single column
x= np.array([(1,2,3),(3,4,5)])
x.ravel()

In [ ]:
a

In [ ]:
a.shape

In [ ]:
#ravel :  convert one numpy array into a single column (one dimension)
x= np.array([(1,2,3),(3,4,5),(3,4,5)])
x = x.ravel()

In [ ]:
x

In [ ]:
x.shape

__create range from numpy__

In [ ]:
#arange() creates an instance of ndarray with evenly spaced values and returns the reference to it.
# This works similarly as python in-built range() it is just that np.arange() gives directly an array
np.arange(start=1, stop=10, step=3) #The value of stop is not included in an array

__create 2 dimensional array__

In [ ]:
x= np.arange(27).reshape(3,9)
x

In [ ]:
x.shape

__create 3 dimensional array__

In [ ]:
x= np.arange(27).reshape(3,3,3)
x

In [ ]:
x.shape

###### create 0/1 array

In [ ]:
array_zero = np.zeros((2,4)) 
array_zero

In [ ]:
array_zero.shape

In [ ]:
array_zero.max()

In [ ]:
array_one = np.ones((2,4)) 
array_one

***

***

***

## Simple example of conversions of one data structure into another

Define a tuple with top 100 values with sorted in decreasing order ??

In [ ]:
# I should first define a range
# convert range into tuple and then sort

In [ ]:
range1 = range(100)
tuple1 = tuple(range1)
tuple1 = sorted(tuple1,reverse= True)
tuple1[:10] # tuple is a sequence , so we can perform indexing

In [ ]:
list1 = [1,2,3]
set1 = {100,101,102}
t1 = (200,201,202)
range1 = range(300,303)
dict1 = {'key1':400,'key2':[401,302]} 
array1 = np.arange(1,10,2)

###### anything can be converted to list, sets , tuple except arrays

because they can hold heterogeneous as well homogenous values but arrays hold homogenous values

In [ ]:
list(set1)

In [ ]:
list(t1)

In [ ]:
list(range1)

In [ ]:
list(dict1)

In [ ]:
list(array1)

In [ ]:
set(list1)

In [ ]:
set(t1)

In [ ]:
set(range1)

In [ ]:
set(dict1)

In [ ]:
set(array1)

In [ ]:
list2 = ['ankit',1]
set(list2)

In [ ]:
tuple(list1)

In [ ]:
tuple(list2)

In [ ]:
tuple(set1)

In [ ]:
tuple(array1)

In [ ]:
np.array(list2) # it will change data types

<a class="anchor" id="Section_2_6"></a>
[index](#index)

### Series

1. Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
2. The axis labels are collectively called index. Ofcouse __ordering/indexing__ is possible
3. __heterogenous__
4. __mutable__

In [ ]:
#Create an Empty Series
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print (s)

In [ ]:
type(s)

##### Creating a series from arrray:

In [ ]:
#Creating a series from arrays:
data = np.array(['a','b','c','d']) # you can see indexes start by default from 0
s = pd.Series(data)
print (s) # index will be created automatically with ranging from 0

In [ ]:
s.shape

##### Creating a series from Lists:

In [ ]:
list = ['g', 'e', 'e',1, 's']
  
# create series form a list
ser = pd.Series(list)
type(ser) # index will be created automatically with ranging from 0
#When working with heterogeneous data, the dtype of the resulting ndarray will be chosen to accommodate all of the data involved. For example, if strings are involved, the result will be of object dtype. If there are only floats and integers, the resulting array will be of float dtype.

In [ ]:
print(ser)

In [ ]:
type(ser[3])

In [ ]:
ser[3]

In [ ]:
ser[3] = 'ankit'

In [ ]:
ser

##### Creating a series from Dictionary:

In [ ]:
ww2_dict = {'USSR': 8700000.0,
 'Germany': 4300000.0,
 'China': 3000000.0,
 'Japan': 2100000.0,
 'USA': 400000.0}

In [ ]:
ww2 = pd.Series(ww2_dict)
ww2 # 'key' will be used as index

In [ ]:
ww2['USSR']

##### accessing elements from series

In [ ]:
#Retrieve Data Using Label (Index)
ww2['USA']

In [ ]:
ww2[ww2 > 4000000]

In [ ]:
'USSR' in ww2

In [ ]:
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
  
#retrieve the series of element
print(ser[:5])

In [ ]:
ser[5]

In [ ]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
#s[3] # to access 4th element we can not directly use '3' because it is not an index in series
print(s[103]) # we need to use '102'

In [ ]:
s

In [ ]:
s =s.reset_index(drop=True) # Or we can reset index
s

<a class="anchor" id="Section_2_7"></a>
[index](#index)

### Data Frame

1. The pandas DataFrame is a two dimensional table of data with column and row indexes.
2. It is exactly like a excel tabular data.
3. The columns are made up of pandas Series objects
4. It is size-mutable, heterogeneous tabular data structure.

In [ ]:
######## Create an empty data frame
df1 = pd.DataFrame()
df1

In [ ]:
type(df1)

In [ ]:
df1.shape

In [ ]:
########Create a DataFrame from Dict of Series i.e. create a dictionary of series and then create a data frame
dict1 = {'Age': pd.Series([40,42,43,44,45]),'Income' :pd.Series([10000,10002,10021,21310,23200])}
df4 = pd.DataFrame(dict1)

print('shape of dataframe', df4.shape)
print('column name' , df4.columns)
df4

In [ ]:
dict2 = {'Age': pd.Series([40,42,43,44]),'Income' :pd.Series([10000,10002,10021,21310,23200])}
df5 = pd.DataFrame(dict2) ## this will place an NaN
df5

In [ ]:
series4 = pd.Series(range(100))
series5 = pd.Series(5,index=range(100))
dict3 = {'series1':series4,'series2': series5,'series3':(np.arange(100)+1000)}
df6=pd.DataFrame(dict3)
df6

In [ ]:
######## Create from list
list1 = [1,2,3,4]
df2 = pd.DataFrame(list1,columns= ['list']) 
df2

In [ ]:
list2 = [[1,101],[2,202],[3,303]]  
df3 = pd.DataFrame(list2,columns=['id','values'])
df3

In [ ]:
df4 = pd.DataFrame(list2, columns= ['id','values'],dtype='float')
df4