In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

In [3]:
import warnings

warnings.filterwarnings('ignore')

# Load dataset** <a class="anchor" id="6"></a>

In [4]:
data = r'C:\Users\yogal\Projects\Coaching\New_Naive_Bayes\small_test_dataset.csv'

df = pd.read_csv(data)

# **Exploratory data analysis** <a class="anchor" id="7"></a>

In [5]:
# view dimensions of dataset

df.shape

(10, 108)

In [6]:
# preview the dataset

df.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,workclass_9,...,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41,native_country_42
0,-0.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 108 entries, age to native_country_42
dtypes: float64(108)
memory usage: 8.6 KB

In [9]:
df.columns = [col.strip() for col in df.columns]

## Get Ready in dict format for model scoring

In [11]:
df.iloc[1].to_dict()

{'age': -0.5,
 'workclass_1': 0.0,
 'workclass_2': 0.0,
 'workclass_3': 0.0,
 'workclass_4': 0.0,
 'workclass_5': 0.0,
 'workclass_6': 0.0,
 'workclass_7': 0.0,
 'workclass_8': 0.0,
 'workclass_9': 0.0,
 'fnlwgt': 0.32,
 'education_1': 0.0,
 'education_2': 0.0,
 'education_3': 0.0,
 'education_4': 1.0,
 'education_5': 0.0,
 'education_6': 0.0,
 'education_7': 0.0,
 'education_8': 0.0,
 'education_9': 0.0,
 'education_10': 0.0,
 'education_11': 0.0,
 'education_12': 0.0,
 'education_13': 0.0,
 'education_14': 0.0,
 'education_15': 0.0,
 'education_16': 0.0,
 'education_num': 1.0,
 'marital_status_1': 0.0,
 'marital_status_2': 0.0,
 'marital_status_3': 1.0,
 'marital_status_4': 0.0,
 'marital_status_5': 0.0,
 'marital_status_6': 0.0,
 'marital_status_7': 0.0,
 'occupation_1': 0.0,
 'occupation_2': 0.0,
 'occupation_3': 0.0,
 'occupation_4': 1.0,
 'occupation_5': 0.0,
 'occupation_6': 0.0,
 'occupation_7': 0.0,
 'occupation_8': 0.0,
 'occupation_9': 0.0,
 'occupation_10': 0.0,
 'occupation_11': 0.0,
 'occupation_12': 0.0,
 'occupation_13': 0.0,
 'occupation_14': 0.0,
 'occupation_15': 0.0,
 'relationship_1': 0.0,
 'relationship_2': 0.0,
 'relationship_3': 1.0,
 'relationship_4': 0.0,
 'relationship_5': 0.0,
 'relationship_6': 0.0,
 'race_1': 0.0,
 'race_2': 0.0,
 'race_3': 0.0,
 'race_4': 0.0,
 'race_5': 0.0,
 'sex_1': -1.0,
 'sex_2': 1.0,
 'capital_gain': 0.0,
 'capital_loss': 0.0,
 'hours_per_week': 0.0,
 'native_country_1': 0.0,
 'native_country_2': 0.0,
 'native_country_3': 0.0,
 'native_country_4': 0.0,
 'native_country_5': 0.0,
 'native_country_6': 0.0,
 'native_country_7': 0.0,
 'native_country_8': 0.0,
 'native_country_9': 0.0,
 'native_country_10': 0.0,
 'native_country_11': 0.0,
 'native_country_12': 0.0,
 'native_country_13': 0.0,
 'native_country_14': 0.0,
 'native_country_15': 0.0,
 'native_country_16': 0.0,
 'native_country_17': 0.0,
 'native_country_18': 0.0,
 'native_country_19': 0.0,
 'native_country_20': 0.0,
 'native_country_21': 0.0,
 'native_country_22': 0.0,
 'native_country_23': 0.0,
 'native_country_24': 0.0,
 'native_country_25': 0.0,
 'native_country_26': 0.0,
 'native_country_27': 0.0,
 'native_country_28': 0.0,
 'native_country_29': 0.0,
 'native_country_30': 0.0,
 'native_country_31': 0.0,
 'native_country_32': 0.0,
 'native_country_33': 0.0,
 'native_country_34': 0.0,
 'native_country_35': 0.0,
 'native_country_36': 0.0,
 'native_country_37': 0.0,
 'native_country_38': 0.0,
 'native_country_39': 0.0,
 'native_country_40': 0.0,
 'native_country_41': 0.0,
 'native_country_42': 0.0}

In [12]:
ip_data =df.iloc[1].to_dict()

In [13]:
ip_data

{'age': -0.5,
 'workclass_1': 0.0,
 'workclass_2': 0.0,
 'workclass_3': 0.0,
 'workclass_4': 0.0,
 'workclass_5': 0.0,
 'workclass_6': 0.0,
 'workclass_7': 0.0,
 'workclass_8': 0.0,
 'workclass_9': 0.0,
 'fnlwgt': 0.32,
 'education_1': 0.0,
 'education_2': 0.0,
 'education_3': 0.0,
 'education_4': 1.0,
 'education_5': 0.0,
 'education_6': 0.0,
 'education_7': 0.0,
 'education_8': 0.0,
 'education_9': 0.0,
 'education_10': 0.0,
 'education_11': 0.0,
 'education_12': 0.0,
 'education_13': 0.0,
 'education_14': 0.0,
 'education_15': 0.0,
 'education_16': 0.0,
 'education_num': 1.0,
 'marital_status_1': 0.0,
 'marital_status_2': 0.0,
 'marital_status_3': 1.0,
 'marital_status_4': 0.0,
 'marital_status_5': 0.0,
 'marital_status_6': 0.0,
 'marital_status_7': 0.0,
 'occupation_1': 0.0,
 'occupation_2': 0.0,
 'occupation_3': 0.0,
 'occupation_4': 1.0,
 'occupation_5': 0.0,
 'occupation_6': 0.0,
 'occupation_7': 0.0,
 'occupation_8': 0.0,
 'occupation_9': 0.0,
 'occupation_10': 0.0,
 'occupation_11': 0.0,
 'occupation_12': 0.0,
 'occupation_13': 0.0,
 'occupation_14': 0.0,
 'occupation_15': 0.0,
 'relationship_1': 0.0,
 'relationship_2': 0.0,
 'relationship_3': 1.0,
 'relationship_4': 0.0,
 'relationship_5': 0.0,
 'relationship_6': 0.0,
 'race_1': 0.0,
 'race_2': 0.0,
 'race_3': 0.0,
 'race_4': 0.0,
 'race_5': 0.0,
 'sex_1': -1.0,
 'sex_2': 1.0,
 'capital_gain': 0.0,
 'capital_loss': 0.0,
 'hours_per_week': 0.0,
 'native_country_1': 0.0,
 'native_country_2': 0.0,
 'native_country_3': 0.0,
 'native_country_4': 0.0,
 'native_country_5': 0.0,
 'native_country_6': 0.0,
 'native_country_7': 0.0,
 'native_country_8': 0.0,
 'native_country_9': 0.0,
 'native_country_10': 0.0,
 'native_country_11': 0.0,
 'native_country_12': 0.0,
 'native_country_13': 0.0,
 'native_country_14': 0.0,
 'native_country_15': 0.0,
 'native_country_16': 0.0,
 'native_country_17': 0.0,
 'native_country_18': 0.0,
 'native_country_19': 0.0,
 'native_country_20': 0.0,
 'native_country_21': 0.0,
 'native_country_22': 0.0,
 'native_country_23': 0.0,
 'native_country_24': 0.0,
 'native_country_25': 0.0,
 'native_country_26': 0.0,
 'native_country_27': 0.0,
 'native_country_28': 0.0,
 'native_country_29': 0.0,
 'native_country_30': 0.0,
 'native_country_31': 0.0,
 'native_country_32': 0.0,
 'native_country_33': 0.0,
 'native_country_34': 0.0,
 'native_country_35': 0.0,
 'native_country_36': 0.0,
 'native_country_37': 0.0,
 'native_country_38': 0.0,
 'native_country_39': 0.0,
 'native_country_40': 0.0,
 'native_country_41': 0.0,
 'native_country_42': 0.0}

# ADB scoring code

In [14]:
import os
import requests
import numpy as np
import pandas as pd

def create_tf_serving_json(data):
    return [{'inputs': {name: data[name] for name in data.keys()} if isinstance(data, dict) else data.tolist()}['inputs']]


def score_model(dataset):
    url = 'https://adb-2586365969981015.15.azuredatabricks.net/model/Notebook_demo_model/1/invocations'
    headers = {'Authorization': f'Bearer dapi3e98a78fb3bb5d5ded9e4875de7ac35b'}
    data_json = dataset.to_dict(orient='records') if isinstance(dataset, pd.DataFrame) else create_tf_serving_json(dataset)
    response = requests.request(method='POST', headers=headers, url=url, json=data_json)
    if response.status_code != 200:
        raise Exception(f'Request failed with status {response.status_code}, {response.text}')
    return response.json()

## Score the model using dataframe (dict we created)

In [15]:
score_model(df)

[' <=50K',
 ' <=50K',
 ' >50K',
 ' >50K',
 ' >50K',
 ' <=50K',
 ' <=50K',
 ' <=50K',
 ' <=50K',
 ' <=50K']

## Score the model using dict (i.e. ip_data)

In [16]:
score_model(ip_data)

[' <=50K']