#### Environment Setup

In [1]:
# Import Libraries required for the experiment
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import QuantileTransformer,MinMaxScaler,RobustScaler,StandardScaler
import random
import os
import seaborn as sns
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier, ExtraTreesRegressor
from sklearn.tree import DecisionTreeClassifier ,DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.feature_selection import RFE
np.random.seed(132)

In [2]:
os.getcwd()

'C:\\Users\\ankit\\Teaching with Vijay\\Logistic Regression'

In [3]:

# Initiate Encoders which will be used for Categorical Variables
label_encoder = LabelEncoder()

# Prints all line without skipping
pd.set_option('display.max_rows', None)
# Prints all line without skipping
pd.set_option('display.max_columns', None)

#### Data Snapshot

In [4]:

# load the raw input dataset
churn=pd.read_csv('C:\\Users\\ankit\\Teaching with Vijay\\Logistic Regression\\DataChurn.csv')
churn.head()

,CID,gender,Senior_Citizen,Marrital_Status,No_Dependent,MonthSinceJoining,Service_Phone,Morethan1Connection,Internet_Service,Security_Deposit,Device_Insurance,TechnicalSupport,LiveTVService,MovieAccount,TypeOfContract,Ebill,MethodOfPayment,AverageMonthlyCharge,TotalChargesTillDate,Churn
0,74701_9,female,0,Yes,2,1,No,No phone service,DSL,No,No,No,No,No,monthly,Yes,Electronic check,30,30,No
1,77178_10,male,0,No,1,40,Yes,No,DSL,Yes,Yes,No,No,No,One year,No,Mailed check,57,1890,No
2,80082_3,f,0,No,0,39,Yes,No,DSL,Yes,No,No,No,No,monthly,Yes,Mailed check,54,108,Yes
3,82841_1,male,0,No,2,13,No,No phone service,DSL,Yes,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42,1841,No
4,73151_3,f,0,No,1,9,Yes,No,Fiber optic,No,No,No,No,No,monthly,Yes,Electronic check,71,152,Yes

In [5]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13189 entries, 0 to 13188
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CID                   13189 non-null  object
 1   gender                12288 non-null  object
 2   Senior_Citizen        13189 non-null  int64
 3   Marrital_Status       13189 non-null  object
 4   No_Dependent          13189 non-null  int64
 5   MonthSinceJoining     13189 non-null  int64
 6   Service_Phone         13189 non-null  object
 7   Morethan1Connection   13189 non-null  object
 8   Internet_Service      13189 non-null  object
 9   Security_Deposit      13189 non-null  object
 10  Device_Insurance      13189 non-null  object
 11  TechnicalSupport      13189 non-null  object
 12  LiveTVService         13189 non-null  object
 13  MovieAccount          13189 non-null  object
 14  TypeOfContract        13189 non-null  object
 15  Ebill                 13189 non-null  object
 16  MethodOfPayment       13189 non-null  object
 17  AverageMonthlyCharge  13189 non-null  int64
 18  TotalChargesTillDate  13189 non-null  int64
 19  Churn                 13189 non-null  object
dtypes: int64(5), object(15)
memory usage: 2.0+ MB

In [6]:
churn.describe(include='all')

,CID,gender,Senior_Citizen,Marrital_Status,No_Dependent,MonthSinceJoining,Service_Phone,Morethan1Connection,Internet_Service,Security_Deposit,Device_Insurance,TechnicalSupport,LiveTVService,MovieAccount,TypeOfContract,Ebill,MethodOfPayment,AverageMonthlyCharge,TotalChargesTillDate,Churn
count,13189,12288,13189.000000,13189,13189.000000,13189.000000,13189,13189,13189,13189,13189,13189,13189,13189,13189,13189,13189,13189.000000,13189.000000,13189
unique,12949,4,NaN,2,NaN,NaN,2,3,3,3,3,3,3,3,3,2,4,NaN,NaN,2
top,72586_1,m,NaN,No,NaN,NaN,Yes,No,Fiber optic,No,No,No,No,No,monthly,Yes,Electronic check,NaN,NaN,No
freq,3,3089,NaN,6817,NaN,NaN,11932,6366,5794,6532,5782,6516,5262,5199,7286,7807,4433,NaN,NaN,9700
mean,NaN,NaN,0.162711,NaN,1.507696,25.387444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.922132,2285.667147,NaN
std,NaN,NaN,0.369116,NaN,1.114143,14.542941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.134950,2273.447118,NaN
min,NaN,NaN,0.000000,NaN,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,19.000000,NaN
25%,NaN,NaN,0.000000,NaN,1.000000,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000,394.000000,NaN
50%,NaN,NaN,0.000000,NaN,2.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.000000,1398.000000,NaN
75%,NaN,NaN,0.000000,NaN,2.000000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,3830.000000,NaN
max,NaN,NaN,1.000000,NaN,3.000000,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.000000,8685.000000,NaN

In [ ]:

#Assign Temporary Storage of the core dataset (For larger sets this step must be avoided)
temp=churn.sample(10000)
temp=temp.drop(temp.columns[[0]],axis=1)
# Arrive at the logical columns that can be Categoric
# Conversion of String values to NaN if the real value is supposed to be Numeric
#temp.iloc[:,[0,1,3,13]]=temp.iloc[:,[0,1,3,13]].apply(lambda s: pd.to_numeric(s, errors='coerce'))
#print (temp.apply(lambda s: pd.to_numeric(s, errors='coerce').notnull().all()))

# Column Null Value Check
temp['Churn'].isnull()
temp.gender=temp.gender.replace(to_replace='female', value='f', regex=True)

temp.gender=temp.gender.replace(to_replace='male', value='m', regex=True)
# Retrieve Columns that have Null Value 
null_columns=temp.columns[temp.isnull().any()]

# Retrieve Sample Rows for columns that have Null Value 
print(temp[temp.isnull().any(axis=1)][null_columns].head())

# Function to Point Out the Columns & Rows that have null values 
for i in range(0,len(null_columns)):
    print(null_columns[i])
    print('____________________________________________________________')
    print((pd.notnull(temp)[null_columns[i]]).value_counts())
    print(temp[(pd.isnull(temp)[null_columns[i]])][null_columns[i]])
    print('============================================================')

# Identify Categorical Variables for Better Automation of the entire script
temp1=temp.head()
temp1.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15,18]] = temp1.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15,18]].astype(str)
temp1.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15,18]].apply(LabelEncoder().fit_transform)


categoric_variables = temp1.columns[temp1.dtypes=='object']

# Categorical Imputation
for i in range(0,len(categoric_variables)):
    print(categoric_variables[i])
    print(temp[categoric_variables[i]].mode()[0])
    temp[categoric_variables[i]]=temp[categoric_variables[i]].replace(np.nan,temp[categoric_variables[i]].mode()[0])
    temp[categoric_variables[i]]=temp[categoric_variables[i]].replace(to_replace ="NaN", 
                 value =0)
    temp[categoric_variables[i]].fillna(0, inplace = True) 

# Numeric Imputation
from sklearn.impute import SimpleImputer
mean_imp = SimpleImputer(missing_values=np.nan, strategy="mean")
med_imp = SimpleImputer(missing_values=np.nan, strategy="median")

# Mean Imputation for Numeric Variables
numeric_variables = set(temp.columns) - set(categoric_variables)
i=1
for i in range(0,len(numeric_variables)):
    if(temp.columns[i] in numeric_variables):
       print(temp.columns[i])        
       temp.iloc[:,[i]] = mean_imp.fit_transform(temp.iloc[:,[i]])
       temp[temp.columns[i]]=temp[temp.columns[i]].replace(to_replace ="NaN", 
                 value =0)
       temp[temp.columns[i]].fillna(0, inplace = True) 

# Making Categoric for String Variables   
temp['gender'] = temp['gender'].astype(str)
temp['Senior_Citizen'] = temp['Senior_Citizen'].astype(str)
temp['Marrital_Status'] = temp['Marrital_Status'].astype(str)
temp['Service_Phone'] = temp['Service_Phone'].astype(str)
temp['Morethan1Connection'] = temp['Morethan1Connection'].astype(str)
temp['Internet_Service'] = temp['Internet_Service'].astype(str)
   
temp['Security_Deposit'] = temp['Security_Deposit'].astype(str)
temp['Device_Insurance'] = temp['Device_Insurance'].astype(str)
temp['TechnicalSupport'] = temp['TechnicalSupport'].astype(str)
temp['LiveTVService'] = temp['LiveTVService'].astype(str)
temp['MovieAccount'] = temp['MovieAccount'].astype(str)
temp['TypeOfContract'] = temp['TypeOfContract'].astype(str)

temp['Ebill'] = temp['Ebill'].astype(str)
temp['MethodOfPayment'] = temp['MethodOfPayment'].astype(str)
temp['Churn'] = temp['Churn'].astype(str)

# Plotting All the Variables that are available in raw file
os.chdir('C:\\Users\\ankit\\Teaching with Vijay\\Logistic Regression\\')
if not os.path.exists('Plots'):
    os.makedirs('Plots')
os.chdir('C:\\Users\\ankit\\Teaching with Vijay\\Logistic Regression\\Plots\\')

for i in range(1,len(temp.columns)):
    if(temp.dtypes[i] in ('float64','int64')):
        print(temp.columns[i])
        plt.figure()
        sns_plot = sns.distplot(temp[temp.columns[i]], kde=False)
        sns_plot.figure.savefig(temp.columns[i]+'.png')
    else:
        plt.figure()
        sns_plot = sns.catplot(x=temp.columns[i], kind="count", palette="ch:.25", data=temp)
        sns_plot.savefig(temp.columns[i]+'.png')

In [ ]:

# Log transformation with mean Imputation for Non-Uniform Variables
log_mean_transform_var=['TotalChargesTillDate']

# Plotting All the Transformed Variables 
os.chdir('C:\\Users\\ankit\\Teaching with Vijay\\Logistic Regression')
if not os.path.exists('Transformed Plots'):
    os.makedirs('Transformed Plots')
os.chdir('C:\\Users\\ankit\\Teaching with Vijay\\Logistic Regression\\Transformed Plots\\')

import time
for i in range(0,len(temp.columns)):
    if(temp.columns[i] in log_mean_transform_var):
        logtransform=np.log(temp[temp.columns[i]])
        logtransform = logtransform.replace([np.inf, -np.inf], np.nan)
        logtransform = mean_imp.fit_transform(pd.DataFrame(logtransform))
        temp[temp.columns[i]]=logtransform
        temp[temp.columns[i]].fillna(0, inplace = True)


for i in range(1,len(temp.columns)):
    if(temp.columns[i] in log_mean_transform_var):
        plt.figure()
        sns_plot = sns.distplot(temp[temp.columns[i]], kde=False)
        sns_plot.figure.savefig(temp.columns[i]+'.png')

In [ ]:
# Create correlation matrix
corr_matrix = temp[numeric_variables].corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.7 & less than -0.7
to_drop_pos = [column for column in upper.columns if any(upper[column] > 0.7)]
to_drop_neg = [column for column in upper.columns if any(upper[column] < -0.7)]

plt.figure(figsize=(10,10))
# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr_matrix, dtype=np.bool))
# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)
# Draw the heatmap with the mask and correct aspect ratio
sns_plot=sns.heatmap(corr_matrix, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})
sns_plot.figure.savefig('correlation.png')
# Fill na values with Numeric value as 0
for i in range(1,len(temp.columns)):
    if(temp.dtypes[i] in ('float64','int64')):
        temp[temp.columns[i]].fillna(0, inplace = True) 


# Drop NaN Value from the temp variable
temp['Churn'] = np.where(temp['Churn']=='Yes',1,0)       
temp=temp.dropna(how='any') 


X = temp.drop(temp.columns[18],axis=1)
y = temp[temp.columns[18]]


# Identify Numeric Values separately
num_only=set(numeric_variables).difference(categoric_variables)


# Feature Importance for numeric variables 
# fit an Extra Trees model to the data
et_model_num = ExtraTreesClassifier()
et_model_num.fit(X[num_only], y)
# display the relative importance of each attribute
print(et_model_num.feature_importances_)
et_p_values_num = pd.Series(et_model_num.feature_importances_,index = X[num_only].columns)
et_p_values_num.sort_values(ascending = False , inplace = True)
et_p_values_num.index
plt.figure()
sns.set(rc={'figure.figsize':(11.7,8.27)})
pal = sns.color_palette("Greens_d")
sns.set_context("paper")
sns_plot = sns.barplot(et_p_values_num.index[et_p_values_num>0],et_p_values_num[et_p_values_num>0],alpha = 0.85)
plt.xticks(rotation=90)
plt.xlabel('Factors', fontsize = 11, weight = 'bold')
plt.ylabel('Feature Importance VALUE', fontsize = 11, weight = 'bold')
sns_plot.set_title("Variable Selection using Feature Importance", fontsize = 20, weight = 'bold')
sns_plot.figure.savefig('Feature_Importance'+'.png')
et_selected_num=et_p_values_num.index[et_p_values_num>0]
et_rejected_num=set(X[num_only].columns.values).difference(et_selected_num)
#GINI INDEX for numeric variables 

# Decision tree with gini 
dt_model_num = DecisionTreeClassifier( criterion='gini',
             random_state = 100, 
            max_depth = 5, min_samples_leaf = 20) 
  
# Performing training 
dt_model_num.fit(X[num_only], y)
print(dt_model_num.feature_importances_)

dt_p_values_num = pd.Series(dt_model_num.feature_importances_,index = X[num_only].columns)
dt_p_values_num.sort_values(ascending = False , inplace = True)
dt_p_values_num.index
plt.figure()
sns.set(rc={'figure.figsize':(11.7,8.27)})
pal = sns.color_palette("Greens_d")
sns.set_context("paper")
sns_plot = sns.barplot(dt_p_values_num.index[dt_p_values_num>0],dt_p_values_num[dt_p_values_num>0],alpha = 0.85)
plt.xticks(rotation=90)
plt.xlabel('Factors', fontsize = 11, weight = 'bold')
plt.ylabel('GINI INDEX VALUE', fontsize = 11, weight = 'bold')
sns_plot.set_title("Variable Selection using Gini Scores", fontsize = 20, weight = 'bold')
sns_plot.figure.savefig('GINI_INDEX'+'.png')

dt_selected_num=dt_p_values_num.index[dt_p_values_num>0.01]
dt_rejected_num=set(X[num_only].columns.values).difference(dt_selected_num)

temp.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15,18]] = temp.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15,18]].astype('category')
temp.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15,18]].apply(LabelEncoder().fit_transform)

# Selecting Categorical Variables alone for Variable Selection
t=temp.iloc[:,[0,1,2,5,6,7,8,9,10,11,12,13,14,15]]
# Dropping off NaN Values if Any
t=t.dropna(how='any')
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in range(0,len(t.columns)):
    t.iloc[:,i] = le.fit_transform(t.iloc[:,i])
# Using GINI to decide Variables for Categoric Variables
from sklearn.tree import DecisionTreeRegressor 

dt_model_cat = DecisionTreeClassifier( criterion='gini',
             random_state = 100, 
            max_depth = 10, min_samples_leaf = 10)
dt_model_cat.fit(t, y) 
print(dt_model_cat.feature_importances_)

dt_p_values_cat = pd.Series(dt_model_cat.feature_importances_,index = t.columns)
dt_p_values_cat.sort_values(ascending = False , inplace = True)
dt_p_values_cat.index
plt.figure()
sns.set(rc={'figure.figsize':(11.7,8.27)})
pal = sns.color_palette("Greens_d")
sns.set_context("paper")
sns_plot = sns.barplot(dt_p_values_cat.index[dt_p_values_cat>0],dt_p_values_cat[dt_p_values_cat>0],alpha = 0.85)
plt.xticks(rotation=90)
plt.xlabel('Factors', fontsize = 15, weight = 'bold')
plt.ylabel('GINI INDEX VALUE', fontsize = 15, weight = 'bold')
sns_plot.set_title("Variable Selection using Gini Scores (Categoric)", fontsize = 20, weight = 'bold')
sns_plot.figure.savefig('GINI_INDEX_Categoric'+'.png')

dt_selected_cat=dt_p_values_cat.index[dt_p_values_cat>0]
dt_rejected_cat=dt_p_values_cat.index[dt_p_values_cat==0]


# Feature Importance for categoric variables 
# fit an Extra Trees model to the data
et_model_cat = ExtraTreesClassifier()
et_model_cat.fit(t, y) 
# display the relative importance of each attribute
print(et_model_cat.feature_importances_)
et_p_values_cat = pd.Series(et_model_cat.feature_importances_,index = t.columns)
et_p_values_cat.sort_values(ascending = False , inplace = True)
et_p_values_cat.index
plt.figure()
sns.set(rc={'figure.figsize':(11.7,8.27)})
pal = sns.color_palette("Greens_d")
sns.set_context("paper")
sns_plot = sns.barplot(et_p_values_cat.index[et_p_values_cat>0],et_p_values_cat[et_p_values_cat>0],alpha = 0.85)
plt.xticks(rotation=90)
plt.xlabel('Factors', fontsize = 11, weight = 'bold')
plt.ylabel('Feature Importance VALUE', fontsize = 11, weight = 'bold')
sns_plot.set_title("Variable Selection using Feature Importance", fontsize = 20, weight = 'bold')
sns_plot.figure.savefig('Feature_Importance_Cat'+'.png')
et_selected_cat=et_p_values_cat.index[et_p_values_cat>0.05]
et_rejected_cat=set(t.columns.values).difference(et_selected_cat)

rejected_variables=[]
rejected_variables.append(to_drop_pos)
rejected_variables.append(to_drop_neg)
rejected_variables.append(dt_rejected_num)
#rejected_variables.append(dt_rejected_cat)
rejected_variables.append(et_rejected_cat)
rejected_variables.append(et_rejected_num)

flattened_list = [y for x in rejected_variables for y in x]
rejected_variables_filter = list(dict.fromkeys(flattened_list))
print(rejected_variables_filter)


print(set(temp.columns).difference(rejected_variables_filter))

final_selection=set(temp.columns).difference(rejected_variables_filter)
final_selection.remove('Churn')
#final_selection.remove('MonthSinceJoining')
#final_selection.remove('No_Dependent')

cat_vars=set(set(final_selection).difference(rejected_variables_filter)).difference(numeric_variables)
cat_vars1=cat_vars
final_selection=set(final_selection).difference(cat_vars1)
cat_vars.remove('LiveTVService')
#cat_vars.remove('Ebill')
cat_vars.remove('TechnicalSupport')
cat_vars.remove('gender')
#cat_vars.remove('Internet_Service')
cat_vars.remove('Device_Insurance')
cat_vars.remove('MethodOfPayment')
#cat_vars.remove('Marrital_Status')
cat_vars.remove('Morethan1Connection')
#cat_vars.remove('Security_Deposit')
#cat_vars.remove('Service_Phone')
#cat_vars.remove('TypeOfContract')
#cat_vars.remove('Senior_Citizen')
#cat_vars.remove('MovieAccount')
data=pd.DataFrame()
data1=pd.DataFrame()
#cat_vars=['reservation_status','customer_type','market_segment','reserved_room_type','hotel','distribution_channel','arrival_date_year','assigned_room_type','meal','deposit_type','arrival_date_month',]
# Create Dummy Values for Categoric Variables
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(X[var], prefix=var)
    data1=pd.concat([data1,cat_list] ,axis=1)
    #data=data1

In [ ]:
?sm.Logit

In [ ]:
?sm.GLM

In [ ]:

# Model Initiation
X_log=X[final_selection]
X_log=pd.concat([X_log,data1], axis=1)
RANDOM_SEED = 1
import statsmodels.api as sm
X_train, X_test, y_train, y_test = train_test_split(X_log, y, test_size=0.33, random_state=RANDOM_SEED)

X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)
glm_binom = sm.GLM(y_train.astype(float),X_train.astype(float),family=sm.families.Binomial())
res = glm_binom.fit()
print(res.summary())

In [ ]:
res.summary2()

In [ ]:
print(res.summary2())

In [ ]:

y_pred_train = res.predict(X_train)
y_pred_test = res.predict(X_test.astype(float))

sns.distplot(y_pred_train)
sns.distplot(y_pred_test)

print('Parameters: ', res.params)
print('Standard errors: ', res.bse)
print('Predicted values: ', res.predict())
yhat = res.mu
fig, ax = plt.subplots()

ax.scatter(yhat, res.resid_pearson)
ax.hlines(0, 0, 1)
ax.set_xlim(0, 1)
ax.set_title('Residual Dependence Plot')
ax.set_ylabel('Pearson Residuals')
ax.set_xlabel('Fitted values')

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

y_pred_train_class = np.where(y_pred_train>=np.mean(y_pred_train),1,0)
y_pred_test_class = np.where(y_pred_test>=np.mean(y_pred_test),1,0)

y_pred_train_class = np.where(y_pred_train>=0.35,1,0)
y_pred_test_class = np.where(y_pred_test>=0.35,1,0)


confusion_matrix = confusion_matrix(y_train, y_pred_train_class)
print(confusion_matrix)
print(classification_report(y_train, y_pred_train_class))
print(classification_report(y_test, y_pred_test_class))

from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
logit_roc_auc = roc_auc_score(y_test, y_pred_test_class)
fpr, tpr, thresholds = roc_curve(y_test, y_pred_test)
plt.figure()
plt.plot(fpr, tpr, label='Logistic Regression (area = %0.2f)' % logit_roc_auc)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.savefig('Log_ROC')
plt.show()

odds=np.exp(res.params)